.main__wrapper
  .mypage__top
    .mypage__top__name
      = @name + "さんの投稿一覧"
  .post__main
    = render partial: 'posts/post', collection: @posts

  .post__main__btn
    = link_to new_post_path, class: "btn-floating btn-large waves-effect waves-light red" do
      %i.material-icons add

  .pagination
    = paginate(@posts)
