.main__wrapper
  .post__main
    .row
      .col.s6.offset-s3
        .card
          .card-image
            %img{src: "https://images.pexels.com/photos/1486222/pexels-photo-1486222.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"}/
            %span.card-title Card Title
          .card-content
            %p
              I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.
          .card-action
            = link_to "Show Detail", "#"
            %i.material-icons favorite
    .row
      .col.s6.offset-s3
        .card
          .card-image
            %img{src: "https://images.pexels.com/photos/739407/pexels-photo-739407.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"}/
            %span.card-title Card Title
          .card-content
            %p
              I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.
          .card-action
            = link_to "Show Detail", "#"
            %i.material-icons favorite
