.main__wrapper
  .post__area
    .post__area__top
      Asia
    .post__area__bottom
      アジア
  .post__search
    = render partial: 'post', collection: @posts

  = render partial: "shared/newposts_button"


