.main__wrapper
  .post__area
    .post__area__top
      Africa
    .post__area__bottom
      アフリカ
  .post__search
    = render partial: 'post', collection: @posts

  = render partial: "shared/newposts_button"

      


