.main__wrapper
  .post__search
    - if @posts.present?
      = render partial: 'post', collection: @posts
    - else
      .post__search__noresult
        %p.post__search__noresult__message
          検索結果はありませんでした…
        %p.post__search__noresult__message
          キーワードを変えてみてね！

  = render partial: "shared/newposts_button"

  .pagination
  = paginate(@posts)

