.main__wrapper
  .post__area
    .post__area__top
      North America
    .post__area__bottom
      北アメリカ
  .post__search
    = render partial: 'post', collection: @posts

  = render partial: "shared/newposts_button"
