.main__wrapper
  .post__area
    .post__area__top
      Oceania & Pacific Ocean
    .post__area__bottom
      オセアニア＆太平洋
  .post__search
    = render partial: 'post', collection: @posts

  .post__main__btn
    = link_to new_post_path, class: "btn-floating btn-large waves-effect waves-light red" do
      %i.material-icons add
      

