.main__wrapper
  .post__area
    .post__area__top
      Europe
    .post__area__bottom
      ヨーロッパ
  .post__search
    = render partial: 'post', collection: @posts

  = render partial: "shared/newposts_button"

      

