.main__wrapper
  .post__area
    .post__area__top
      Latin America
    .post__area__bottom
      ラテンアメリカ
  .post__search
    = render partial: 'post', collection: @posts

  = render partial: "shared/newposts_button"



