.main__wrapper
  .post__area
    .post__area__top
      Oceania & Pacific Ocean
    .post__area__bottom
      オセアニア＆太平洋
  .post__search
    = render partial: 'post', collection: @posts

  = render partial: "shared/newposts_button"


