.recommend {
  margin: 10px 200px 20px;
  &__top {
    position: relative;
    width: 40%;
    margin-bottom: 50px;
    border: 1px solid #b3e5fc;
    border-radius: 20px;
    background-color: #b3e5fc;
    color: gray;
    font-size: 40px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #a7a7a7;
  }
  &__top::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 20px;
    bottom: -15px;
    border-top: 15px solid #b3e5fc;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
  }
  &__box {
    display: flex;
    height: 120px;
    margin-bottom: 100px;
    border: 1px solid silver;
    &__link{
      display: block;
    }
    &__left {
      display: block;
      flex-basis: 30%;
      &__image {
        width: 85%;
        height: 85%;
        margin: 10px;
      }
    }
    &__right{
      padding: 10px;
      &__title {
        margin-bottom: 15px;
        border-bottom: 1px dotted gray;
      }
      &__link {
        margin-bottom: 15px;
      }
    }
  }
}
